.card {
  max-width: 400px;
  height: 310px;
  cursor: pointer;
}

.header-image {
  background-size: cover;
  max-width: 200px;
  max-height: 150px;
}

.text-ellipsis {
  white-space: nowrap; 
  width: 220px; 
  overflow: hidden;
  text-overflow: ellipsis;
}